extends ../layout

block content
        form(action='/admin/tournament/' + tournament.id + '/results' method="post" class="form-horizontal")
            div.columns
                table.table.table-horizontal
                    thead
                        th pvm
                        th Maalit
                        th Kotijoukkue
                        th -
                        th Vierasjoukkue
                        th Maalit
                        th Tulos
                    tbody
                        div.form-group
                            for game in games
                                tr
                                    td= moment(game.game_start_datetime).format('D.M.YYYY H:mm')
                                    td
                                        input(type='number' min=0 name="goals_1" class='form-input' value=game.team_1_score)
                                    td= game.team_1
                                    td -
                                    td= game.team_2
                                    td
                                        input(type='number' min=0 name="goals_2" class='form-input' value=game.team_2_score)
                                    td= game.result
                                    input(type='hidden' value=game.id class='form-input' name='game_id')
            div.columns.pt-1-4
                if hasTopStriker
                    div.form-group.col-12
                        label.form-label.col-3 Maalikuningas
                        input(type='text' name='epTopStrikerResult' class='form-input col-4 col-sm-12' value=tournament.ep_top_striker_result)
                    
                if hasWinnerBet
                    div.form-group.col-12
                        label.form-label.col-3 1. sija
                        input(type='text' name='epFirstPlaceResult' class='form-input col-4 col-sm-12' value=tournament.ep_first_place_result)
                    div.form-group.col-12
                        label.form-label.col-3 2. sija
                        input(type='text' name='epSecondPlaceResult' class='form-input col-4 col-sm-12' value=tournament.ep_second_place_result)
            div.columns
                div.form-group.pt-1-4.col-12
                    div.col-9
                    div.col-1
                        a(class='btn btn-link' href="/admin/tournamentManagement") Peruuta
                    div.col-2
                        button(class='btn btn-primary' type='submit') Tallenna tulokset