extends ../layout

block content
    div.columns
        form(action='/admin/tournament/' + games[0].tournament_id + '/results' method="post" class="form-horizontal")
            table.table.table-horizontal
                thead
                    th pvm
                    th Maalit
                    th Kotijoukkue
                    th -
                    th Vierasjoukkue
                    th Maalit
                    th Tulos
                tbody
                    div.form-group
                        for game in games
                            tr
                                td= moment(game.game_start_datetime).format('D.M.YYYY H:mm')
                                td
                                    input(type='number' min=0 name="goals_1" value=game.team_1_score)
                                td= game.team_1
                                td -
                                td= game.team_2
                                td
                                    input(type='number' min=0 name="goals_2" value=game.team_2_score)
                                td= game.result
                                input(type='hidden' value=game.id name='game_id')
            if hasTopStriker
                div.form-group
                    span.col-3 Paras pistemies
                    input(type='text' name='topstriker' value=topStriker)
                
            if hasWinnerBet
                div.form-group
                    span.col-3 Turnauksen voittaja
                    input(type='text' name='winner' value=winner)

            div.form-group.pt-1-4
                div.col-9
                div.col-1
                    a(class='btn btn-link' href="/admin/tournamentManagement") Peruuta
                div.col-2
                    button(class='btn btn-primary' type='submit') Tallenna tulokset