extends ../layout

block scripts
    script(src="/public/scripts.js")
    script.
        $(document).ready(function (){
            colorRows()
            const screensize = $( window ).width()
            if(screensize <= '640'){
                mobileFriendlyLists()
            }
        })
block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item active")
                a(href="/admin/tournamentManagement") Turnausten hallinta
            li(class="tab-item")
                a(href="/admin/gamesManagement") Luo uusi turnaus
            li(class="tab-item")
                a(href="/admin/userManagement") Käyttäjien hallinta
    div.columns
        div(class='column col-12')
            span(id="message-row" class="toast" style="display: none")
    div(class='column col-12')
        if errors
            span(class='toast toast-error')= errors
        if success
            span(class='toast toast-success')= success
    div.columns
        div(class='column col-12')
            h3.pt-1-4 Turnaukset
            p Julkaistut turnaukset näkyvät kaikille käyttäjille, mutta vain aktiiviset turnaukset näkyvät kotisivulla käyttäjille.
        table.table.table-striped.needs-scroll
            thead
                th pvm
                th Nimi
                th Julkaistu
                th Aktiivinen
                th 
                th
                th
            tbody
                for t in tournaments
                    tr 
                        td= moment(t.datestarts).format('D.M.YYYY')
                        td= t.name
                        td 
                            input(type="checkbox" checked=(t.published) name="published" onClick='ToggleValue(event, "'+t.id+'")')
                        td  
                            input(type="checkbox" checked=t.active name="active" onClick='ToggleValue(event, "'+t.id+'")')
                        td
                            a(class="btn" href='tournament/' + t.id + '/results') Päivitä tuloksia
                        td
                            a(class="btn" href='tournament/' + t.id) Muokkaa
                        td
                            a(class="btn" href="tournament/" + t.id + '/users') Hallitse osallistujia




