extends ../layout

block scripts
    script(src="/easy/jquery.easy-autocomplete.min.js")
    script(src="/public/scripts.js")
    link(rel="stylesheet" href="/easy/easy-autocomplete.css")

block content
    div.columns
        div(class='column col-12')
            a(href="/admin/tournamentManagement" class="text-gray")
                i(class="fa fa-chevron-left") 
                |   Takasin
        div(class='column col-12')
            if messages.info && messages.successful == 'true'
                span(class='toast toast-success')= messages.info
            else if messages.info && messages.successful == 'false'
                span(class='toast toast-error')= messages.info
    div.columns
        div(class='column col-12')
            h3.pt-1-4=tournament.name
            form(action="/admin/tournament/update/" + tournament.id method="post" class="form-horizontal")
                h5.card-heading.text-bold Perustiedot
                div.plt-20
                    div.form-group
                        div.col-3.col-sm-6
                            label.form-label Turnauksen nimi
                        div.col-6.col-sm-6
                            input(id="tournamentName" name='tournamentName' class='form-input' type="text" value=tournament.name required)
                    div.form-group
                        div.col-3.col-sm-6
                            label.form-label Veikkaamisen voi aloittaa
                        div.col-3.col-sm-6
                            p Päivämäärä muodossa MM/DD/YYYY
                            input(id="tournamentPlayingStartDate" name='tournamentPlayingStartDate' class='form-input' type="date" value=moment(tournament.dateplayingstarts).format('YYYY-MM-DD') required)
                            p.form-input-hint.no-validation Päivämäärä jolloin turnaus muuttuu käyttäjille aktiiviseksi ja veikkaamisen voi aloittaa
                    div.form-group
                        div.col-3.col-sm-6
                            label.form-label Turnaus alkaa
                        div.col-3.col-sm-6
                            input(id="tournamentStartDate" name='tournamentStartDate' class='form-input' type="date" value=moment(tournament.datestarts).format('YYYY-MM-DD')  required)
                            p.form-input-hint.no-validation Turnauksen alkamisen päivämäärä, jolloin myös veikkaaminen loppuu
                    div.form-group
                        div.col-3.col-sm-6
                            label.form-label Turnaus loppuu
                        div.col-3.col-sm-6
                            input(id="tournamentEndDate" name='tournamentEndDate' class='form-input' type="date" value=moment(tournament.dateends).format('YYYY-MM-DD') required)
                if tournament.winnerbet || tournament.topstriker
                    h5.card-heading.text-bold Veikkaus asetukset
                    div.plt-20
                        if tournament.topstriker
                            div.form-group
                                div.col-3.col-sm-9
                                    label.form-label Maalintekijä piste arvo
                                div.col-1.col-sm-3
                                    input(name='epTopStrikerPointsValue' class='form-input' type="number" value=tournament.ep_top_striker_points_value)
                        if tournament.winnerbet
                            div.form-group.pt-1-4
                                div.col-3.col-sm-9
                                    label.form-label 1. sijan piste arvo
                                div.col-1.col-sm-3
                                    input(name='epFirstPlacePointsValue' class='form-input' type="number" value=tournament.ep_first_place_points_value)
                            div.form-group.pt-1-4
                                div.col-3.col-sm-9
                                    label.form-label 2. sijan piste arvo
                                div.col-1.col-sm-3
                                    input(name='epSecondPlacePointsValue' class='form-input' type="number" value=tournament.ep_second_place_points_value)
                h5.card-heading.text-bold Pelit
                div.plt-20
                    div.form-group
                        table.table.col-12
                            thead
                                tr
                                    th.hide-sm #
                                    th pvm ja aika
                                    th joukue 1
                                    th joukue 2
                            tbody
                                for game in tournament.games
                                    tr
                                        td.hide-sm
                                        td
                                            input(class="form-input" name="game_datetime" type="text" value=moment(game.game_start_datetime).format('D.M.YYYY H:mm') required)
                                        td
                                            input(class="form-input countries-complete" name="team_1" type="text" value=game.team_1 required)
                                        td
                                            input(class="form-input countries-complete" name="team_2" type="text" value=game.team_2 required)
                                        td
                                            input(name="game_id" type='hidden' value=game.id required)
                div.pt-1-4
                    h3 Lisää uusia pelejä turnaukseen:
                div(class="form-group" id="addGamesSection")
                    table.table.col-12
                        thead
                            tr
                                th #
                                th pvm ja aika
                                th joukue 1
                                th joukue 2
                        tbody(id="addGamesSectionTBody")
                            tr(id="exampleRow")
                                td.text-gray 
                                    i X
                                td.text-gray 
                                    i Esimerkki
                                td.text-gray 
                                    i Suomi
                                td.text-gray
                                    i Ruotsi
                div.form-group
                    div.col-12
                        a(class="text-success" onClick="addRow()" id="addGamesButton") 
                            i(class="fa fa-plus-circle" aria-hidden="true")
                            | Lisää rivi

                div.form-group.pt-1-4
                    div.col-1.col-sm-6.col-ml-auto
                        a(class='btn btn-link' href="/admin/tournamentManagement") Peruuta
                    div.col-1.col-sm-6
                        input(name='tournamentId' type='hidden' value=tournament.id)
                        button(class='btn btn-primary' type='submit') Tallenna muutokset

        div.column.col-12
            form(action="/admin/tournamentDelete" method="post" class="form-horizontal")
                div.form-group.pt-1-4
                    div.col-3.col-sm-12.col-ml-auto
                        p.text-error Voit poistaa vain turnauksia jolla ei ole osallistujia
                    div.col-1.col-sm-12
                        input(name='tournamentId' type='hidden' value=tournament.id)
                        button(class='btn btn-error' type='submit') Poista turnaus