extends ../layout

block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item active")
                a(href="/admin/tournamentManagement") Turnausten hallinta
            li(class="tab-item")
                a(href="/admin/gamesManagement") Luo uusi turnaus
            li(class="tab-item")
                a(href="/admin/userManagement") Käyttäjien hallinta
    h3=tournament.name
    p=tournament.id
    form(action="/admin/tournament" + tournament.id method="post" class="form-horizontal")
        div.form-group
            div.col-3
                label.form-label Turnauksen nimi
            div.col-6
                input(id="tournamentName" name='tournamentName' class='form-input' type="text" value=tournament.name required)
        div.form-group
            div.col-3
                label.form-label Veikkaamisen voi aloittaa
            div.col-3
                input(id="tournamentPlayingStartDate" name='tournamentPlayingStartDate' class='form-input' type="date"  min=currentDate required)
                p.form-input-hint.no-validation Päivämäärä jolloin turnaus muuttuu käyttäjille aktiiviseksi ja veikkaamisen voi aloittaa
        div.form-group
            div.col-3
                label.form-label Turnaus alkaa
            div.col-3
                input(id="tournamentStartDate" name='tournamentStartDate' class='form-input' type="date" min=currentDate required)
                p.form-input-hint.no-validation Turnauksen alkamisen päivämäärä, jolloin myös veikkaaminen loppuu
        div.form-group
            div.col-3
                label.form-label Turnaus loppuu
            div.col-3
                input(id="tournamentEndDate" name='tournamentEndDate' class='form-input' type="date" min=currentDate required)
        div.form-group
            div.col-3
            div.col-6
                button(class='btn btn-primary' type='submit') Tallenna muutokset

