extends ../layout

block content
    div(class='column col-12')
        ul(class="tab tab-block")
            li(class="tab-item")
                a(href="/admin/gamesManagement") Pelien hallinta
            li(class="tab-item active")
                a(href="/admin/userManagement") Käyttäjien hallinta
    div(class='column col-12')
        if errors
            span(class='toast toast-error')= errors
        if success
            span(class='toast toast-success')= success
        h3.pt-2 Hyväksy käyttäjiä
        p  Hyväksy käyttäjiä jotka ovat rekisteröityneet
        if usersToApprove.length > 0
            form(action="/admin/approveUsers", method="post")
                table(class='table table-striped')
                    thead
                        tr
                            th Nimi
                            th Sähköposti
                            th Rekisteröitynyt
                            th Hyväksy
                    for user in usersToApprove
                        tr
                            td #{user.username}
                            td #{user.email}
                            td #{moment(user.dateRegistered).format("D.M.YYYY, HH:mm")}
                            td
                                - var id = user.id
                                input(type="checkbox" name= id)

                input(type='submit' value='Hyväksy' class='btn btn-primary login-button')
        else
            div.empty
                p(class='empty-title h5') Ei käyttäjiä hyväksyttäväksi
    div(class='column col-12')
        h3.pt-2 Käyttäjät
        p Rekisteröityneet käyttäjät
        
        if users.length > 0
            form(action="/admin/removeUsers", method="post")
                table(class='table table-striped')
                    thead
                        tr
                            th Nimi
                            th Sähköposti
                            th Rekisteröitynyt
                            th Poista
                    for u in users
                        tr
                            td #{u.username}
                            td #{u.email}
                            td #{moment(u.dateRegistered).format("D.M.YYYY, HH:mm")}
                            td
                                - var id = u.id
                                input(type="checkbox" name= id)
                input(type='submit' value='Poista valitut käyttäjät' class='btn btn-primary btn-danger login-button')
                p.text-error.pt-2 Käyttäjien poistoa ei voi kumota!
        else
            div.empty
                p(class='empty-title h5') Ei käyttäjiä