extends ../layout

block scripts
    script(src="/public/scripts.js")
    script.
        $(document).ready(function (){
            colorRows()
            const screensize = $( window ).width()
            console.log(screensize)
            if(screensize <= '640'){
                mobileFriendlyLists()
            }
        })

block content
    h1= user.username
    div(class='columns')
        div(class='column col-md-5 col-sm-12')
            p
            dl
                dt Sähköposti
                dd #{user.email}
                dt Rekisteröitynyt
                dd #{moment(user.dateRegistered).format("D.M.YYYY, HH:mm")}
            div.divider
            details.accordion
                summary.accordion-header
                    i(class="icon icon-arrow-right mr-1")
                    |Päivitä salasanasi
                div.accordion-body
                    if passwordUpdateMsg
                        span(class='toast toast-success')= passwordUpdateMsg
                    if errors
                        dl
                            for error in errors
                                dd(class='text-error')= error.msg            
                    form(action='/user/changePassword', method='POST')
                        label.form-label Nykyinen salasana
                        if oldPwdErrorMsg
                            span(class='label label-error')= oldPwdErrorMsg
                        input(type='password', name='oldPassword' class="form-input" required)
                        label.form-label Uusi salasana
                        if pwdErrorMsg
                            span(class='label label-error')= pwdErrorMsg
                        input(type='password', name='password' class="form-input" required)
                        label.form-label Uusi salasana uudestaan
                        input(type='password', name='password2' class="form-input" required)
                        input(type='submit', value='Päivitä salasana', class='btn btn-primary login-button')
            div.divider
        div.divider-vert(class='hide-sm')
        div(class='column col-md-6 col-sm-12')
            if user.username != 'admin'
                h5.card-heading 
                    i(class="fa fa-list-ul card-icon" aria-hidden="true")
                    | Omat tulokset
                for tournament in tournaments
                    details.accordion
                        summary.accordion-header
                            i(class="icon icon-arrow-right mr-1")
                            span= tournament.name
                        div.accordion-body
                            a(href="/tournament/" + tournament.id class="float-right") Turnauksen sivu
                            +gamesResultsTable(tournament.userPools)
            else
                dd 
                a(href='/admin/tournamentManagement' class='btn  btn-primary')
                    span(class="icon icon-edit")
                    span.nav-username Admin työkalut
