extends ../layout

block scripts
    script(src="/public/scripts.js")
    script.
        $(document).ready(function (){
            colorRows()
            const screensize = $( window ).width()
            console.log(screensize)
            if(screensize <= '640'){
                mobileFriendlyLists()
            }
        })

block content
    h1= user.username
    div(class='columns')
        div(class='column col-md-5 col-sm-12')
            p
            dl
                dt Sähköposti
                dd #{user.email}
                dt Rekisteröitynyt
                dd #{moment(user.dateRegistered).format("D.M.YYYY, HH:mm")}
            div.divider
            details.accordion
                summary.accordion-header
                    i(class="icon icon-arrow-right mr-1")
                    |Päivitä salasanasi
                div.accordion-body
                    if passwordUpdateMsg
                        span(class='toast toast-success')= passwordUpdateMsg
                    if errors
                        dl
                            for error in errors
                                dd(class='text-error')= error.msg            
                    form(action='/user/changePassword', method='POST')
                        label.form-label Nykyinen salasana
                        if oldPwdErrorMsg
                            span(class='label label-error')= oldPwdErrorMsg
                        input(type='password', name='oldPassword' class="form-input" required)
                        label.form-label Uusi salasana
                        if pwdErrorMsg
                            span(class='label label-error')= pwdErrorMsg
                        input(type='password', name='password' class="form-input" required)
                        label.form-label Uusi salasana uudestaan
                        input(type='password', name='password2' class="form-input" required)
                        input(type='submit', value='Päivitä salasana', class='btn btn-primary login-button')
            div.divider
        div.divider-vert(class='hide-sm')
        div(class='column col-md-6 col-sm-12')
            if user.username != 'admin'
                h3= tournament.name
                h5.card-heading 
                    i(class="fa fa-list-ul card-icon" aria-hidden="true")
                    | Omat tulokset
                if userPools && userPools.length > 0
                    table(class='table table-striped table-hover pool-table')
                        thead
                            tr
                                th pvm
                                th Peli
                                th Oma
                                th Tulos
                        tbody
                        for game in userPools                  
                            tr.pool-table-row
                                td= moment(game.game_start_datetime).format('D.M.YYYY')
                                td
                                    div.columns.teams-row
                                        div.col-md-12
                                            img(src="/public/img/flags/" + (game.team_1_country_code || 'placeholder') + ".png" class="img-flag-tiny")
                                            span=game.team_1 
                                            span.dash-teams -
                                        div.hide-md
                                            span=game.team_2
                                            img(src="/public/img/flags/" + (game.team_2_country_code || 'placeholder') + ".png" class="img-flag-tiny")
                                        div.col-md-12.show-md
                                            img(src="/public/img/flags/" + (game.team_2_country_code || 'placeholder') + ".png" class="img-flag-tiny")
                                            span=game.team_2
                                td.pool-table-row-own-pool= game.pool
                                td.pool-table-row-result= game.result
                h5.card-heading 
                    i(class="fa fa-history card-icon" aria-hidden="true")
                    | Aikaisemmat turnaukset
            else
                dd 
                a(href='/admin/tournamentManagement' class='btn  btn-primary')
                    span(class="icon icon-edit")
                    span.nav-username Admin työkalut
