extends ../layout


block content
    h1= user.username
    div(class='columns')
        div(class='column col-md-5 col-sm-12')
            p
            dl
                dt Sähköposti
                dd #{user.email}
                dt Rekisteröitynyt
                dd #{moment(user.dateRegistered).format("D.M.YYYY, HH:mm")}
                if user.username == 'admin'
                    dd 
                    a(href='/admin/tournamentManagement' class='btn  btn-primary')
                        span(class="icon icon-edit")
                        span.nav-username Admin työkalut
        div.divider-vert(class='hide-sm')
        div(class='column col-md-6 col-sm-12')
            h2 Omat tulokset
            h4 Pisteitä: #{points}
            table(class='table table-striped table-hover')
                thead
                    tr
                        th #
                        th Peli
                        th Oma
                        th Tulos
                tbody
                for game in userPools
                    tr
                        td
                        td= game.game
                        td= game.pool
                        td= game.result
    div.divider-horz
    div.columns
        div(class='column col-md-6 col-sm-12')
            h2 Päivitä salasanasi
            if passwordUpdateMsg
                span(class='toast toast-success')= passwordUpdateMsg
            if errors
                dl
                    for error in errors
                        dd(class='text-error')= error.msg
            form(action='/user/changePassword', method='POST')
                label.form-label Nykyinen salasana
                if oldPwdErrorMsg
                    span(class='label label-error')= oldPwdErrorMsg
                input(type='password', name='oldPassword' class="form-input" required)
                label.form-label Uusi salasana
                if pwdErrorMsg
                    span(class='label label-error')= pwdErrorMsg
                input(type='password', name='password' class="form-input" required)
                label.form-label Uusi salasana uudestaan
                input(type='password', name='password2' class="form-input" required)
                input(type='submit', value='Päivitä salasana', class='btn btn-primary login-button')