extends ../layout

block content

    div.column.col-12
        h2= tournament.name
        div.column.col-6
            span.text-gray Alkaa
            p.text-primary #{moment(tournament.dateStarts).format("D.MM.YYYY")}
        div.column.col-6
            span.text-gray Loppuu
            p.text-primary #{moment(tournament.dateEnds).format("D.MM.YYYY")}
    div.column
        h3 Pelit
        table(class='table table-striped table-hover')
            thead
                tr
                    th pvm
                    th Peli
                    th 
            tbody
            for game in tournament.games
                tr
                    td= moment(game.game_start_datetime).format('D.MM.YYYY H:mm')
                    td
                        span
                            img(src="/public/img/flags/" + (game.team_1_country_code || 'placeholder') + ".png" class="img-flag-tiny")
                            =game.team_1 
                        span  -                           
                            =game.team_2
                            img(src="/public/img/flags/" + (game.team_2_country_code || 'placeholder') + ".png" class="img-flag-tiny")
                        if game.team_1_score 
                            td #{game.team_1_score} - #{game.team_2_score}
                        else
                            td TBA
