extends ../layout

block scripts
    script(src="/public/scripts.js")

block content

    div.column.col-12
    - console.log(userPools, tournament)
        if error
            span.toast.toast-error= error.text
        h2= tournament.name
    div.column.col-12
        h3 Veikkaa
        div#validity-check
        form(action="do" method="POST" class="form-horizontal")
            input(type="hidden" name="tournament_id" value=tournament.id)
            table(class='table table-striped table-hover')
                thead
                    tr
                        th.hide-sm Aika
                        th Peli
                        th Veikkaus
                tbody
                    for game in tournament.games                    
                        tr(class=(game.hasPool ? 'c-not-allowed' : ''))
                            td.hide-sm= moment(game.game_start_datetime).format('D.M.YYYY[, klo] H:mm')
                            td
                                +gamesVersusElement(game)
                            if game.hasPool 
                                td
                                    div.form-group
                                        div.col-sm-12
                                            input(type="radio" value="1" id="radio_" + game.id +"_1" name=game.id disabled checked=(game.hasPool == '1' ? true : false))
                                            label(for="radio_" + game.id +"_1") 1 
                                        div.col-sm-12
                                            input(type="radio" value="x" id="radio_" + game.id +"_x" name=game.id disabled checked=(game.hasPool == 'x' ? true : false))
                                            label(for="radio_" + game.id +"_x") x 
                                        div.col-sm-12
                                            input(type="radio" value="2" id="radio_" + game.id +"_2" name=game.id disabled checked=(game.hasPool == '2' ? true : false))
                                            label(for="radio_" + game.id +"_2") 2
                            else
                                td
                                    div.form-group
                                        div.col-sm-12
                                            input(type="radio" value="1" id="radio_" + game.id +"_1" name=game.id required)
                                            label(for="radio_" + game.id +"_1") 1 
                                        div.col-sm-12
                                            input(type="radio" value="x" id="radio_" + game.id +"_x" name=game.id)
                                            label(for="radio_" + game.id +"_x") x 
                                        div.col-sm-12
                                            input(type="radio" value="2" id="radio_" + game.id +"_2" name=game.id)
                                            label(for="radio_" + game.id +"_2") 2
            if tournament.topstriker || tournament.winnerbet
                h5.ptb-1-4 Täytä vielä nämä...
                p Käytä koko nimiä pelaajista (esim. Lionel Messi) ja joukkueista.
                if tournament.topstriker
                    div.form-group
                        div.col-3.col-sm-12
                            label.form-label Maalikuningas
                        div.col-6.col-sm-12
                            input(type="text" name="top_striker" class="form-input" required)
                if tournament.winnerbet
                    div.form-group
                        div.col-3.col-sm-12
                            label.form-label Turnauksen voittaja
                        div.col-6.col-sm-12
                            input(type="text" name="first_place" class="form-input" required)
                    div.form-group
                        div.col-3.col-sm-12
                            label.form-label Turnauksen 2. sija
                        div.col-6.col-sm-12
                            input(type="text" name="second_place" class="form-input" required)
            div.form-group.pt-20
                div.col-sm-4.col-md-3.col-2.col-ml-auto                
                    a(class='btn btn-link float-right' onclick="cancelButton(event)") Peruuta
                div.col-sm-8.col-md-4col-2
                    button(class='btn btn-primary float-right' type='submit' onclick="validityCheck(this.form)") Lähetä veikkaukset

